<%- include("partials/header") -%>
    <form action="/compose" method="POST">

        <h1>COMPOSE</h1>
        <label for="Title">Title</label><br><br>
        <input class="form-control" type="text" name="postTitle"  autocomplete="off"><br><br>
        <label for="Post">Post</label><br>
        <textarea class="form-control" name="postBody" cols="30" rows="10" spellcheck="false" name="postBody" ></textarea><br><br>
        <button class="btn btn-lg btn-primary" type="submit" name="btn">publish</button>
    </form>
    <%- include("partials/footer") -%>