<%- include("partials/header.ejs") -%>
<form action="/" method="POST">
<h1><%= title %></h1>
<p><%= content %> </p>
<button class="btn btn-lg btn-primary" name="deleteBtn" type="submit">delete</button>
</form>
<%- include("partials/footer.ejs") -%>